<div>
  <h3>Add New Task</h3>
  <form>
    <mat-form-field appearance="legacy">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Insert Title" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Insert Description" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    
  </form>
  
</div>


 